<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579291811444-2r11vlo48e19gfv5nrs7jf8unuv28ai9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579291811444-2r11vlo48e19gfv5nrs7jf8unuv28ai9</string>
	<key>API_KEY</key>
	<string>AIzaSyDtXhIcWY0kO9b2FiPLwq5FphvLhsk3l7A</string>
	<key>GCM_SENDER_ID</key>
	<string>579291811444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-5ac42</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-5ac42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579291811444:ios:5f70606fade6e763490b21</string>
</dict>
</plist>